{% extends "user.html" %}
<!-- user_stats.html -->
{% load i18n %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load question_list_tags %}
		{% block usercontent %}

        <a name="questions"></a>
        <div class="row">
            <div class="span3">
            {% spaceless %}
                <h3>
                    {% blocktrans count questions.paginator.count as counter %}
                    <span class="count">{{counter}}</span> Frage
                    {% plural %}
                    <span class="count">{{counter}}</span> Fragen
                    {% endblocktrans %}
                    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
                        href="{{ view_user.get_asked_url }}?type=rss" title="{% trans "subscribe to question RSS feed" %}"></a>
                </h3>
            {% endspaceless %}
            </div>
            <div class="pull-right">{{ questions.paginator.sort_tabs }}</div>
        </div>
        <div class="row">
            <div class="span12">
                {% for question in questions.paginator.page %}
                    {% question_list_item question favorite_count=yes signature_type=badges %}
                {% endfor %}
            </div>
            <div class="span12">{{ questions.paginator.page_numbers }}</div>
        </div>

        <a name="answers"></a>
        <div class="row">
            <div class="span3">
                {% spaceless %}
                    <h3>
                        {% blocktrans count answers.paginator.count as counter %}
                        <span class="count">{{counter}}</span> Antwort
                        {% plural %}
                        <span class="count">{{counter}}</span> Antworten
                        {% endblocktrans %}
                    </h3>
                {% endspaceless %}
            </div>
            <div class="pull-right">
                {{ answers.paginator.sort_tabs }}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                {% for answer in answers.paginator.page %}
                <div class="answer-summary">
                    <h4>
                        <a title="{{answer.question.title}}"
                        href="{{ answer.get_absolute_url }}">{{ answer.score }} {{answer.headline}}</a>
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
		<div class="pager">{{ answers.paginator.page_numbers }}</div>
        <br clear="all"/>
        <a name="votes"></a>
        <div class="row">
            <div class="span3">
                {% spaceless %}
                    <h3>
                        {% blocktrans count total_votes as cnt %}
                            <span class="count">{{cnt}}</span> Stimme
                        {% plural %}
                            <span class="count">{{cnt}}</span> Stimmen
                        {% endblocktrans %}
                    </h3>
                {% endspaceless %}
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <button class="btn btn-success disabled"><i class="icon-thumbs-up"></i></button>
                <span title="{% trans "user has voted up this many times" %}" class="vote-count">{{up_votes}}</span>
            </div>
            <div class="span2">
                <button class="btn btn-danger disabled"><i class="icon-thumbs-down"></i></button>
                <span title="{% trans "user voted down this many times" %}" class="vote-count">{{down_votes}}</span>
            </div>
        </div>
        <a name="tags"></a>
        <div class="row">
            <div class="span9">
                {% spaceless %}
                    <h3>
                        {% blocktrans count user_tags|length as counter %}
                            <span class="count">{{counter}}</span> Tag
                        {% plural %}
                            <span class="count">{{counter}}</span> Tags
                        {% endblocktrans %}
                    </h3>
                {% endspaceless %}
            </div>
        </div>
        <div class="row">
            <div class="span9">
                {% for tag in user_tags%}
                <a rel="tag" 
                    class="tag-link-{{ tag.name }} label label-info"
                    title="{% blocktrans with tag.name as tag_name %}see other questions with {{view_user}}'s contributions tagged '{{ tag_name }}' {% endblocktrans %}"
                    href="{% url tag_questions tag|urlencode %}?user={{view_user.username}}">{{tag.name}}</a>
                <span class="tag-number">&#215; {{ tag.user_tag_usage_count|intcomma }}</span>
                    {% if forloop.counter|divisibleby:"10" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a name="badges"></a>
        {% spaceless %}
        <div class="row">
            <div class="span9">
                <h3>
                    {% blocktrans count total_awards as counter %}
                    <span class="count">{{counter}}</span> Abzeichen
                    {% plural %}
                    <span class="count">{{counter}}</span> Abzeichen
                    {% endblocktrans %}
                </h3>
                {% endspaceless %}
                <table>
                    <tr style="vertical-align: top;">
                        <td style="line-height:35px; padding-right: 20px;">
                            {% for award, count in awards %}
                                {% spaceless %}
                                <a href="{% url badges %}{{award.id}}/{{award.name|slugify}}" title="{{ award.description }}" class="medal btn btn-success disabled">{{ award.name }}</a>
                                {% ifnotequal count 1 %}
                                    <span class="tag-number"> &#215; {{ count|intcomma }}</span>
                                {% endifnotequal %}<br/>
                                {% if forloop.counter|divisibleby:"6" %}
                                    </td>
                                    <td width="180" style="line-height:35px">
                                {% endif %}
                                {% endspaceless %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
{% endblock %}
<!-- end user_stats.html -->
